@font-face {
  font-family: 'Pretendard VF';
  src: url('//cdn.jsdelivr.net/gh/parksb/cdn@master/font/Pretendard/woff2/PretendardKR-VF-Distilled-Specials.woff2') format('woff2');
  font-display: swap;
}

* {
  font-family: 'Pretendard VF', sans-serif;
}
